.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

    .head{
            height: 60px;
            width: 100vw;
            background-color: rgb(207, 178, 180);
            position: relative;
            color: rgb(90, 27, 27);
            display: flex;
            position: sticky;
            
            align-items: center;
            
        }
        .navul{
            position: absolute;
            padding-left: 40rem;
            position: sticky;
        }
        .navli{
            list-style-type: none;
            display: inline-block;
            margin-left: 50px;
            
        }
        .navli:hover{
            transform: scale(1.2);
            font-weight: bold;
        }
        
        span{
            color: rgb(90, 27, 27);
            margin-left: 50px;
        }

        * {
          padding: 0;
          margin: 0;
          text-decoration: none;
          list-style: none;
          box-sizing: border-box;
        }
        
        body {
          font-family: montserrat;
        }
        nav {
          background: #8469db;
          height: 80px;
          width: 100%;
        }
        label.logo {
          color: white;
          font-size: 35px;
          line-height: 80px;
          /* padding: 0 100px; */
          font-weight: bold;
          float: left;
          padding-left: 30px;
        }
        nav ul {
          float: right;
          margin-right: 20px;
          justify-self: center;
          
        }
        nav ul li {
          display: inline-block;
          line-height: 80px;
          margin: 0 5px;
          color: white;
          font-size: 17px;
          padding: 7px 13px;
          border-radius: 3px;
          text-transform: uppercase;
          cursor: pointer;
        }
        nav ul li a {
          color: white;
          font-size: 17px;
          padding: 7px 13px;
          border-radius: 3px;
          text-transform: uppercase;
        }
         
        .checkbtn {
          font-size: 30px;
          color: white;
          float: right;
          line-height: 80px;
          margin-right: 40px;
          cursor: pointer;
          display: none;
        }
        #check {
          display: none;
        }
        @media (max-width: 952px){
          label.logo{
            font-size: 30px;
            padding-left: 50px;
          }
          nav ul li a{
            font-size: 16px;
          }
        }
        @media (max-width: 858px){
          .checkbtn {
            display: block;
          }
          ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #1d075f;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            cursor: pointer;
          }
          nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
            cursor: pointer;
          }
          nav ul li a {
            font-size: 20px;
          }
          a:hover, a.active {
            background: none;
            color: #5434af;
          }
          #check:checked ~ ul {
            left: 0;
          }
        }

.card:hover{
  /* transform: scale(1.1, 1.1); */
  transform: scale(1.13);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 1);
}

.card {
  padding-bottom: 20px;
  transition: 1s;
  height: auto;
  overflow: auto;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: fit-content;
}

.Cardbtn{
   background-color: #8469db;
   width: 100px;
   height: 34px;
   border-radius: 7px;
   color: white;
   font-size: 16px;
   border: 2px solid #8469db;
}

.Cardbtn:hover{
   border: 2px solid #8469db;
   cursor: pointer;
   background-color: white;
   color: #8469db;
   transition: 0.3s;
}