 
 
.product-page{
  padding: 0;
  margin: 0;
  height: 100%;
}


.product-page img {
  height: 100%;
  width: 100%;
  object-fit: contain;

}



 
.product-page .rate {
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 40px;
  margin-left: 30px;
}


.product-page .rate .stars i {
  font-size: 12px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}

.product-page .info {
  display: flex;
  padding: 30px;
  align-items: center;
}
.product-page .info span{
  margin-right: 30px;
}

.description{

   font-size: 16px;
   margin-left: 30px;
}

.product-page .info .price {
  font-size: 25px;
  font-weight: 500;
}

.product-page p {
  font-size: 14px;
  margin: 20px 0;
}

.product-page .qty-input {
  width: 80px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 30px;
  color: black;
  font-size: 15px;

}

.product-page button.add {
 
  height: 50px; 
  font-size: 17px;
  border-radius: 7px;
  width: 20%;
  margin-left: 30px;
}

.product-reviews ul {
  padding: 0;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-reviews li {
  cursor: pointer;
  font-weight: 500;
}

.displayImage {
    height: 600px;
    width: 100%;
}
 
    .head{
            height: 60px;
            width: 100vw;
            background-color: rgb(207, 178, 180);
            position: relative;
            color: rgb(90, 27, 27);
            display: flex;
            position: sticky;
            
            align-items: center;
            
        }
        .navul{
            position: absolute;
            padding-left: 40rem;
            position: sticky;
        }
        .navli{
            list-style-type: none;
            display: inline-block;
            margin-left: 50px;
            
        }
        .navli:hover{
            transform: scale(0);
            font-weight: bold;
        }
 
        * {
          padding: 0;
          margin: 0;
          text-decoration: none;
          list-style: none;
          box-sizing: border-box;
        }
        
        body {
          font-family: montserrat;
        }
        nav {
          background: #8469db;
          height: 80px;
          width: 100%;
        }
        label.logo {
          color: white;
          font-size: 35px;
          line-height: 80px;
          /* padding: 0 100px; */
          font-weight: bold;
          float: left;
          padding-left: 30px;
        }
        nav ul {
          float: right;
          margin-right: 20px;
          justify-self: center;
          
        }
        nav ul li {
          display: inline-block;
          line-height: 80px;
          margin: 0 5px;
          color: white;
          font-size: 17px;
          padding: 7px 13px;
          border-radius: 3px;
          text-transform: uppercase;
          cursor: pointer;
        }
        nav ul li:hover{
          color: black;
          transition: 0.3s;
        }
        nav ul li a {
          color: white;
          font-size: 17px;
          padding: 7px 13px;
          border-radius: 3px;
          text-transform: uppercase;
        }
         
        .checkbtn {
          font-size: 30px;
          color: white;
          float: right;
          line-height: 80px;
          margin-right: 40px;
          cursor: pointer;
          display: none;
        }
        #check {
          display: none;
        }
        @media (max-width: 952px){
          label.logo{
            font-size: 30px;
            padding-left: 50px;
          }
          nav ul li a{
            font-size: 16px;
          }
        }
        @media (max-width: 858px){
          .checkbtn {
            display: block;
          }
          ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #1d075f;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            cursor: pointer;
          }
          nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
            cursor: pointer;
          }
          nav ul li a {
            font-size: 20px;
          }
          a:hover, a.active {
            background: none;
            color: #5434af;
          }
          #check:checked ~ ul {
            left: 0;
          }
        }

.card:hover{
  transform: scale(1.07);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 1);
}

.card {
  border-radius: 20px;
  padding-bottom: 20px;
  transition: 1s;
  height: auto;
  overflow: auto;
  border: 1px solid #ccc;
  max-height: fit-content;
  background-color: #d3c5fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.Cardbtn{
  background-color: #8469db;
   width: 100px;
   height: 34px;
   border-radius: 7px;
   color: white;
   font-size: 16px;
   border: 2px solid #8469db;
}

.Cardbtn:hover{
   border: 2px solid #8469db;
   cursor: pointer;
   background-color: white;
   color: #8469db;
   transition: 0.3s;
}

.loader{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  
}

.Imageloader{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Web cam */

  
.webcam-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: #D9D2F0;
  padding: 20px;
  text-align: center;
}

.webcam {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
